* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.row:after,.menu:after {
    content: "";
    display: block;
    clear: both;
}

.header {
    background-color: rgba(255, 255, 255, 75%);
    padding: 25px 0;
    border-bottom: 1px solid white;
    height: 100px;
}

.col-md-1 {
    width: 16.66%;
}

.col-md-2 {
    width: 83.33%;
}

.col-md-3 {
    width: 25%;
}

.col-md-4 {
    width: 33.33%;
}

.col-md-6 {
    width: 50%;
}

.col-md-8 {
    width: 66.66%;
}

.col-md-9 {
    width: 75%;
}

.col-md-10 {
    width: 80%;
}

.col-md-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 0 15px;
}

.no-padding {
    padding: 0 0 !important;
}

.menu > li {
    width: 25%;
    float: left;
    color: #2c71b8;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: block;
    text-decoration: none;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    color: inherit;
    font-size: 21px;
}

.menu li:hover {
    background-color: #2c71b8;
    color: white;
    transition: 0.45s;
}

.menu li:hover a i {
    border: solid white;
    border-width: 0 2px 2px 0;
    transition: 0.3s;
}

.menu li:hover > ul {
    display: block;
    transition: 0.3s;
}

.logo {
    margin-top: 7px;
}

.arrow  {
    border: solid rgba(44, 113, 184, 1);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-bottom: 4px;
    margin-left: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.submenu {
    list-style: none;
    display: none;
    position: absolute;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.submenu > li {
    margin-left: -1px;
}

.submenu li a {
    background-color: #2c71b8;
    color: white;
    text-align: left;
    padding: 0px 25px 0px 34px;
}

.submenu li a:hover {
    background-color: white;
    color: #2c71b8;
    transition: 0.3s;
}

.searchbar input {
    display: inline-block;
    font-family: inherit;
    padding: 0px 0px 0px 10px;
    height: 40px;
    width: 80%;
    font-weight: 300;
    color: #2c71b8;
    font-size: 21px;
    background-color: transparent;
    border: none;
}

.searchbar input::placeholder {
    opacity: 1;
}

.searchbar {
    height: 40px;
    border: 1px solid #2c71b8;
    margin-top: 5px;
}

.searchbar button {
    float: right;
    width: 30px;
    height: 30px;
    margin: 4px 4px 0px 0px;
    background-color: #2c71b8;
    border: none;
    text-align: center;
    cursor: pointer;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;
}

.product-cart {
    position: absolute;
    margin-top: 5px;
    padding-left: 10px;
}

.cart-icon {
    background-color: white;
    border: none;
    padding: 10px;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-image: url(images/cart-full.png);
    background-repeat: no-repeat;
    background-position: center;
}

.product-count {
    position: relative;
    top: -50px;
    left: -10px;
    height: 20px;
    width: 20px;
    background-color: #2c71b8;
    border-radius: 25px;
    z-index: 10;
}

.product-number {
    position: inherit;
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 12px;
}

.carousel {
    background-color: rgba(0, 0, 0, 20%);
    height: 400px;
    border-bottom: 1px solid white;
}

.arrow-left, .arrow-right {
    width: 10%;
    float: left;
}

.placeholder {
    color: white;
    font-weight: 300;
    font-size: 75px;
    text-align: center;
    line-height: 400px;
}

.filter-container {
    background-color: rgba(255, 255, 255, 20%);
    border-right: 1px solid white;
    padding: 0 30px 30px 30px;
    text-align: left;
}

.dev-properties {
    padding: 30px 0;
}

h4 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 12px;
}

input[type="checkbox"] {
    display: none;
    position: absolute;
}

label {
    position: relative;
    color: white;
    font-weight: 300;
    font-size: 20px;
    line-height: 38px;
    padding-left: 25px;
    cursor: pointer;
}

label:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    cursor: pointer;
    position: absolute;
    top: 7px;
}

input[type="checkbox"]:checked + label:before {
    background-color: white;
}

.more-options > p {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

.more-options {
    margin-bottom: 30px;
}

.filter-container > .button-container {
    padding-bottom: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.page-nav {
    color: rgb(211, 211, 211);
    font-size: 14px;
    font-weight: 300;
    padding: 30px 15px 15px 15px;
}

.page-nav a {
    text-decoration: none;
    color: rgb(211, 211, 211);
}

.underline {
    text-decoration: underline !important;
}

.item-type {
    color: white;
    font-size: 45px;
    font-weight: 700;
    padding: 15px;
}

.tile-container {
    padding: 15px;
}

.item-tiles {
    border: 1px solid white;
    color: white;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
}

.product-img {
    background-color: rgba(255, 255, 255, 75%);
    border-bottom: 1px solid white;
    text-align: center;
    height: 180px;
    position: relative;
}

.product-img > .main-img {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selectors {
    position: absolute;
    padding: 10px;
    right: 0px;
}

.zoom {
    background-image: url(images/enlarge.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #2c71b8;
    padding: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.zoom:hover {
    background-color: #2c71b8;
    background-image: url(images/enlarge-hover.png);
    transition: 0.35s;
}

.like {
    background-image: url(images/fav.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #2c71b8;
    padding: 14px;
    cursor: pointer;
}

.like:hover {
    background-color: #2c71b8;
    background-image: url(images/fav-hover.png);
    transition: 0.35s;
}

.product-body {
    padding: 15px 15px 0 15px;
    background-color: rgba(44, 113, 184, 75%);
}

.stats {
    letter-spacing: normal;
}

.product-title {
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    padding: 0px 0 5px 0;
    letter-spacing: normal;
    line-height: normal;
}

.product-features {
    padding: 5px 0 5px 0;
}

span {
    font-weight: 700;
    text-transform: uppercase;
}

.product-price {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    padding: 25px 0 25px 0;
}

.cost {
    position: relative;
    display: inline-block;
    font-size: 30px;
    top: -15px;
}

.button-container {
    padding-bottom: 20px;
    text-align: center;
}

.button-container button {
    margin: 7.5px;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 1px;
    cursor: pointer;
}

.button-container .details {
    background-color: #2c71b8;
}

.button-container .add-cart {
    background-color: rgba(255, 255, 255, 20%);
}

.cart-white {
    margin-left: 10px;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 75%);
    height: 100px;
    line-height: 100px;
}

.copyright {
    font-weight: 300;
    color: #2c71b8;
    font-size: 21px;
}